
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 3000px;
}

.header {
    background-image: linear-gradient(top (0, 0, 0, 0.5) bottom rgba(0, 0, 0, 0));
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}
.logo {
    max-width: 150px;
    height: auto;
  }
.nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    padding: 5px;
}
a:hover {
    border-radius: 20px;
    background-color: red;
}
.logo:hover {
    color: white;
}


input {
    font-weight: 300;
    font-size: 14px;
    height: 37px;
    width: 20%;
    background: transparent;
    color: white;
    border: 2px solid rgba(grey,);
    border-radius: 37px;
    padding: 10px;
}	

.box {
    position: relative;
    height: 400px;
    width: 400px;
    color: white;
    top: 160px;
    left: 80px;
}

.buttons {
    margin: 20px;
    display: flex;
    gap: 20px ;
}

.buttons :first-child {
    color: white;
    border: solid 2px red ;
    border-radius: 25px;
    padding: 8px;
}
.buttons :nth-child(2) {
    border: solid 2px gray;
    border: 0.5;
    color: white;
    border-radius: 25px;  
    padding: 8px; 
}
.buttons :nth-child(2):hover {
    border: white;
    background: transparent;
}