
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 3000px;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0)rgba(0, 0, 0, 0));
    border-bottom: 2px solid wheat;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}
.logo {
    max-width: 150px;
    height: auto;
  }
.nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    padding: 5px;
}
a:hover {
    border-radius: 20px;
    background-color: red;
}
.logo:hover {
    color: white;
}
